<a href="https://colab.research.google.com/github/iqrafirdous786/colab/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello")
print('Hello')

Hello
Hello

In [2]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [4]:
car1 = "Ford"
car2 = "Volvo"
car3 = "BMW"

In [6]:
mystr = "banana"

for x in mystr:
  print(x)

b
a
n
a
n
a